<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="false" />
    <httpCompression noCompressionForHttp10="false" noCompressionForProxies="false" minFileSizeForComp="1" maxDiskSpaceUsage="500" directory="%SystemDrive%\inetpub  \temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </staticTypes>
    </httpCompression>
    <!-- Adobe AIR mime type -->
    <staticContent>
      <remove fileExtension=".air" />
      <mimeMap fileExtension=".air" mimeType="application/vnd.adobe.air-application-  installer-package+zip" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff2" />
      <remove fileExtension=".less" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" httpExpires="30.00:00:00" />
    </staticContent>
    <rewrite>
      <rules>
        <!-- REMOVING TRAILING SLASHES FROM URL FOR FE PAGES-->
        <rule name="Remove trailing slash" stopProcessing="true">
          <match url="(.*)/$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="{R:1}" />
        </rule>
        <rule name="rule" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{URL}" pattern="[A-Z]" ignoreCase="false" />
          </conditions>
          <action type="Redirect" url="{ToLower:{URL}}" redirectType="Temporary" />
        </rule>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
        <rule name=".temp/sale-acai-berry-500.html to home" patternSyntax="ExactMatch" stopProcessing="true">
          <match url=".temp/sale-acai-berry-500.html" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name=".temp/sambazon-acai-reviews-dietary-supplement.html to home" patternSyntax="ExactMatch" stopProcessing="true">
          <match url=".temp/sambazon-acai-reviews-dietary-supplement.html" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name=".temp/sambazon-acai-amazon-rainforest.html to home" patternSyntax="ExactMatch" stopProcessing="true">
          <match url=".temp/sambazon-acai-amazon-rainforest.html" />
          <action type="Redirect" url="/" />
        </rule>
        <rule name=".temp/sanofi-cipro-xl.html to home" patternSyntax="ExactMatch" stopProcessing="true">
          <match url=".temp/sanofi-cipro-xl.html" />
          <action type="Redirect" url="/" />
        </rule>
      </rules>
    </rewrite>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
        <httpErrors errorMode="Detailed" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <compilation tempDirectory="D:\Inetpub\vhosts\matrix-solutions.net\tmp" />
  </system.web>
</configuration>
